@import "./home-page", "./auth", "./dashboard";

.title {
  font-size: 24px;
  font-weight: 600;
}

.sub-title {
  font-size: 20px;
  font-weight: 600;
}

.page {
  &__header {
    padding-bottom: 12px;
    border-bottom: 1px solid $primary-color;

    .title {
      color: $primary-color;
    }
  }
  &__body {
    margin-top: 32px;
  }
}
