$primary-color: #26a69a;
$secondary-color: #fbfbfb;
$tertiary-color: #f9f9f9;
$black: #000000;
$white: #fbfbfb;
$white-100: rgba(255, 255, 255, 0.926);
$red: #dd2727;
$orange: #e65000;

$green-200: #1c766d;

$border-color: #dee2e6;

$box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
$box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
$box-shadow-hover: 0px 0px 4px 0px rgba(#d183fe, 0.25);

$hover-gradient: linear-gradient(45deg, #64f38c, #f79d00, #00f260);

$bg-gradient: linear-gradient(to right, #020015, #0c0624);
