.form {
  max-width: 560px;
  .input-wrapper {
    margin-bottom: 24px;
  }

  .v-btn {
    width: 100%;
  }
}

.primary-pill {
  background-color: #26a69a;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  font-size: large;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.primary-pill:hover {
  background-color: #1c766d;
}
