body {
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  background-size: cover;
  background-repeat: no-repeat;
}

.pill {
  background-color: #26a69a;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  width: 150px;
  margin-top:10px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.pill:hover {
  background-color: #1c766d;
}

.nav-bottom {
  background-color: rgb(238, 238, 238);
  color: #1c766d;
}

a {
  text-decoration: underline;
  color: #26a69a;
}