.navbar {
  background-color: rgb(255, 255, 255);
  height: auto;
}

.nav-logo,
.nav-logo-compact {
  height: 50px;
}

.nav-logo-compact {
  display: none;
}

@media (max-width: 768px) {
  .nav-logo {
    display: none;
  }

  .nav-logo-compact {
    display: inline;
  }
}
